# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# macOS system files
.DS_Store

# Private keys
config.py
